*.pyc
.noseids
.coverage
gbp/gbp_version.py
build/

docs/*.1
docs/manual-html/
docs/manpage.links
docs/manpage.refs
docs/version.ent
docs/apidocs/

debian/git-buildpackage.*.debhelper
debian/git-buildpackage.debhelper.*
debian/python-module-stampdir/
debian/files
debian/git-buildpackage.substvars
debian/git-buildpackage/

