*.pyc
.noseids
.coverage
.tox/
.ropeproject/
coverage.xml
gbp/version.py
build/
gbp.egg-info/
nosetests.xml
*~
*.sw?
\#*#
.#*

docs/*.1
docs/*.5
docs/buildxref/
docs/manual-html/
docs/manpage.links
docs/manpage.refs
docs/version.ent

debian/git-buildpackage*.debhelper*
debian/python-module-stampdir/
debian/files
debian/git-buildpackage*.substvars
debian/git-buildpackage/
debian/git-buildpackage-rpm/
debian/tmp/
