*.pyc
.noseids
gbp/gbp_version.py
gbp_clone.py
gbp_pq.py
gbp_pull.py
gbp_create_remote_repo.py
git_buildpackage.py
git_dch.py
git_import_dsc.py
git_import_dscs.py
git_import_orig.py
links_stamp
build/

docs/*.1
docs/manual-html/
docs/manpage.links
docs/manpage.refs
docs/version.ent
docs/apidocs/

debian/git-buildpackage.*.debhelper
debian/git-buildpackage.debhelper.*
debian/python-module-stampdir/
debian/files
debian/git-buildpackage.substvars
debian/git-buildpackage/

