[submodule "tests/component/deb/data"]
	path = tests/component/deb/data
	url = git://honk.sigxcpu.org/git/gbp/deb-testdata.git
[submodule "tests/component/rpm/data"]
	path = tests/component/rpm/data
	url = git://github.com/marquiz/git-buildpackage-rpm-testdata.git
