---
sudo: required
language: python

services:
  - docker

python:
  - "3.5"
  - "3.6"

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y pristine-tar devscripts

install: "pip install -r dev_requirements.txt"
script:
  - flake8
  - python $(which nosetests) -v tests/doctests/ tests/component/deb/
  - tests/helpers/run-in-docker
