---
sudo: required
language: python

services:
  - docker
dist: bionic 

python:
  - "3.6"
  -  3.7

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y pristine-tar devscripts

install: "pip install -r dev_requirements.txt"
script:
  - flake8
  - python $(which nosetests) -v tests/doctests/ tests/component/deb/
  - packaging/run-in-docker
