Source: git-buildpackage
Section: devel
Priority: optional
Maintainer: Guido Guenther <agx@sigxcpu.org>
Build-Depends: cdbs, debhelper (>= 5), python-dev, python-support (>= 0.3)
Standards-Version: 3.7.2

Package: git-buildpackage
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, devscripts
Suggests: git-load-dirs
Description: bunch of scripts to ease the development of Debian packages with git
  This package contains the following tools:
  * git-import-dsc: import an existing Debian source package into a git
   repository
  * git-debuild: build a package out of a git repository, check for local
    modifications and tag appropriately
